body{
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    font-family: 'Montserrat', sans-serif;
   
    

   
}
.top_container{
    background-color: rgb(181, 239, 248);
    position: relative;
    padding-top: 100px;
    text-align: center;


}

.profile{
   margin-bottom: 0px;
    text-align: center;


}
p{
    font-family: "Brush Script MT","Cursive";
    font-size: 26px;
    position: relative;
    top: 80px;
}
.cloud1{
    position: relative;  
    left: 300px;
    top: 100px;

}
h1{
    position: relative;
    top: 80px;
    font-family: 'Sacramento', cursive;
    font-size: 50px;
}
.cloud2{
    position: absolute;
    top: 400px;
}
.my_pic{
    position: relative;
    top: 20px;
    width: 200px;
}
.computer{
    
    position: relative;
    top: 10px;
    width: 200px;
}
.hello{
    position: relative;
    top: 2px;
    font-family: 'Sacramento', cursive;
    font-size: 50px;
    margin-top: 30px;

    margin-bottom: 0;
    
}
.p1{
    display: inline-block;
    position: relative;
    top: 10px;

}
.web{
    font-family: 'Sacramento', cursive;
    font-size: 30px;
}
.skill_1{

    font-family: 'Sacramento', cursive;
    font-size: 50px;
    margin-bottom: 0;
}
.row{
    position: relative;
    top: 1px;
    border-radius: 70%;
    width: 190px;
}
.row2{
    font-family: 'Sacramento', cursive;
    font-size: 45px;
    position: relative;
    top: 1px;
}
.p2{
    position: relative;
    top: 1px;
}
.p3{
    position: relative;
    top: 1px;
}

.cm{
    font-family: 'Sacramento', cursive;
    font-size: 50px;

}
.p4{
    position: relative;
    top: 1px;
}
.btn{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
.footer-link{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
